:root {
    font-size: 24px;

    --onBgColor: hsl(0, 0%, 100%);
    --BgColor: hsl(44, 99%, 59%);
    --otherColor: hsl(215, 77%, 14%);

    --sizeXs: 1rem;
    --sizeSm: calc(var(--sizeXs) * 1.5);
    --sizeMd: calc(var(--sizeSm) * 1.5);
    --sizeLg: calc(var(--sizeMd) * 1.5);
    --sizeXl: calc(var(--sizeLg) * 1.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    overflow-x: hidden;
}

h1,
h2 {
    text-align: center;
    text-decoration: underline 5px;
    font-size: var(--sizeLg);
    color: var(--otherColor);
    background-color: var(--BgColor);
}

.name {
    font-size: var(--sizeSm);
    text-transform: capitalize;
    color: var(--onBgColor);
    background-color: var(--otherColor);
    border: 5px solid var(--bgColor);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}